[flake8]
exclude =
    .git,
    __pycache__,
    autotest
ignore =
    # https://flake8.pycqa.org/en/latest/user/error-codes.html
    F401,
    # https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
    # Whitespace
    E203,
    # Import
    E402,
    # Whitespace warning
    W292, W293,
    # Blank line warning
    W391,
    # Line break warning
    W503, W504
statistics = True
max-line-length = 92
