language: python
os: linux
dist: focal
compiler: gcc
branches:
  only:
    - "master"
    - "develop"
services:
- xvfb
matrix:
  include:
  - env: RUN_TYPE=test
    python: 3.6
  - env: RUN_TYPE=test
    python: 3.7
  - env: RUN_TYPE=test
    python: 3.8
  - env: RUN_TYPE=style
    python: 3.8
cache:
  pip: true
  directories:
  - "$HOME/.cache/pip"
  - "$HOME/.local"
addons:
  apt:
    packages:
    - libhdf5-serial-dev
    - netcdf-bin
    - libnetcdf-dev
    - gdal-bin
    - libgdal-dev
env:
  global:
  - PYTHONPATH=$PYTHONPATH:.
install: ./travis/install.sh
before_script: ./travis/before_script.sh
script: ./travis/script.sh
after_success: coveralls